<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<button type="submit" ng-click="goToScan()">Back</button>
<button type="submit" ng-click="addNewStudent(student)">submit</button>
<h1>Add Barcode</h1>
<input type="text" ng-model="student.name" placeholder="Enter Name">
<input type="text" ng-model="student.department" placeholder="Enter Dept">
<input type="text" ng-model="student.jobTitle" placeholder="Enter Job Totle">
<input type="text" ng-model="student.annualSalary" placeholder="Enter Sal">
<input type="text" ng-model="student.estimatedAnnualSalary" placeholder="Enter Est Sal">
</body>
</html>