<div class="panel panel-primary">
       <div class="panel-heading">Scan Student</div>
       <div class="panel-body">
        
         <div class="validate">
         <form name="contactForm" novalidate>
         <input ng-model="contact.stuName" placeholder="Enter Name" ng-required="true" ng-pattern ="/^[a-zA-Z]*$/" name="name"/>
         <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
           <small style="color: red; display: block;">Enter valid Name</small>
         </div>
       </br><input ng-pattern ="/^[0-9]*$/" ng-model="contact.stuId" ng-required="true" placeholder="Enter ID" name="id" minlength = "5" maxlength = "6" required/>
        <div ng-show = "contactForm.$submitted">
         <div ng-show="contactForm.$submitted.id.$touched || contactForm.id.$invalid || contactForm.id.$error.required">
           <small style="color: red; display: block;">Enter valid id</small>
         </div >
</div>
       </br><input type="submit" value="Submit" ng-click="scanSubmit()"/>
         </form>
         </div>
         </div>
     </div>
     
     <div class="panel panel-primary">
     	<div class="panel-heading">Scan Table Reports
       	</div>
       	<div class="panel-body">
       	<table id="datatable-buttons" class="datatable-buttons table table-striped table-bordered table-hover exportable" style="width:100%;cellspacing:0" data-ng-show = "students.length != 0"> <!-- table-striped  -->
			                        <thead style = "color:black;background-color:lightblue">
			                            <tr>
			                            	<th>Index</th>
			                                <th>StudentID</th>
			                                <th>StudentName</th>
			                                <th>Id</th>
<!-- 			                                <th>New</th> -->
			                            </tr>
			                        </thead>
		                            <tbody>
		                                <tr ng-repeat= "student in scanResults | filter  : search.stuName">
		                                	<td>{{$index+1}}</td>
		                                    <td data-ng-init="id = student.stuName">{{student.stuId}}</td>
		                                    <td>{{student.stuName}}</td>
		                                    <td>{{id}}</td>
<!-- 		                                    <td>{{student.marks}}</td> -->
                                    </tr>
		                            </tbody>
		                        </table>
       	</div>
      </div>
       
     