<div class="panel panel-primary">
       <div class="panel-heading">Scan Student</div>
       <div class="panel-body">
        
         <div class="validate">
         <form name="contactForm">
<!--          <input ng-model="contact.jobTitle placeholder="Enter Name" ng-required="true" ng-pattern ="/^[a-zA-Z]*$/" name="name"/> -->
<!--          <div ng-show="contactForm.name.$touched && contactForm.name.$invalid"> -->
<!--            <small style="color: red; display: block;">Enter valid Name</small> -->
<!--          </div> -->
       </br><input  ng-model="contact.department"  placeholder="Enter ID" name="id"/>
<!--         <div ng-show = "contactForm.$submitted"> -->
<!--          <div ng-show="contactForm.$submitted.id.$touched || contactForm.id.$invalid || contactForm.id.$error.required"> -->
<!--            <small style="color: red; display: block;">Enter valid id</small> -->
<!--          </div > -->
         
         
<!-- </div> -->
       </br><input type="submit" value="Submit" ng-click="scanSubmit()"/>
        </br><input type="submit" value="GET ALL EMP DATA" ng-click="getAllData()"/>
       
         </form>
         </div>
         </div>
     </div>
     
     <div class="panel panel-primary">
     	<div class="panel-heading">Scan Table Reports
       	</div>
       	<div class="panel-body">
       	 <label>Department</label>
		                        <select ng-model = "selectedDept" ng-change="getSelectedData(selectedDept)" >
 		                        <option ng-repeat = "department in departmentsList" value="{{department.department}}">{{department.department}}</option> 
		                        </select>
		                        <select ng-model = "selecteRange" ng-change="getSelectedData(selectedRange)" >
 		                        <option ng-repeat = "region in regionList" >{{region}}</option> 
		                        </select>
		                        <input type="text"  class="form-control" ng-model="search" placeholder="Filter Table Data">
<!-- 		                        <img ng-src = "demoPics/UploadFile.png"/> -->

<button class= "btn btn-primary btn-sm" type="submit" ><a href="#/addStudent">Add</a></button>


       	<table datatable="" id="datatable-buttons" class="datatable-buttons table table-striped table-bordered table-hover exportable" style="width:100%;cellspacing:0" data-ng-show = "students.length != 0"> <!-- table-striped  -->
			                        <thead style = "color:black;background-color:lightblue">
			                            <tr>
			                                <th>NAME</th>
			                                <th>JOB TITLE</th>
			                                <th>DEPARTMENT</th>
			                                <th>ANNUAL SALARY</th>
			                                <th>ESTIMATED ANNUAL SALARY</th>
			                                <th>Action</th>
			                            </tr>
			                        </thead>
		                            <tbody>
		                                <tr ng-repeat= "student in studentScanResult | filter:search ">
		                                    <td>{{student.name}}</td>
		                                    <td><a href = "" ng-click = "goToview(student)">{{student.jobTitle}}</a></td>
		                                    <td>{{student.department}}</td>
		                                    <td>{{student.annualSalary}}</td>
		                                    <td>{{student.estimatedAnnualSalary}}</td>
		                                    <th>
	                                    
<!--  <button type="submit" ><a  ng-click="editStudent(student)">EDIT</a></button>   -->
 <button type="submit" value="submit" class="btn btn-primary btn-sm" ng-click="editStudent(student)"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></button>
		                                    <button type="submit" value="submit" class="btn btn-danger btn-sm" ng-click="deleteStudent(student)">
  <i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>
 
   </th>
                                    </tr>
		                            </tbody>
		                        </table>
       	</div>
      </div>
       
     